* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.container {
    max-width: 1200px;
    background-color: lightgreen;
    margin: auto;
}

header {
    width: 100%;
    background-color: plum;
    align-items: center;
}

header h1 {
    font-size: 25px;
    margin: 3px;
}

header h1 a {
    color: black;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu img {
    width: 100%;
    margin-top: 3px;
    border-radius: 3px;
}

.search {
    margin-right: 10px;
    padding: 5px;
    display: flex;
}

.search input {
    outline: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    right: 0;
    vertical-align: middle;
}

.menu li {
    margin: 10px;
}

.slide {
    width: 100%;
}

.slide .container {
    background-color: white;
}

.slide ul {
    width: auto;
    margin: 50px auto;
    display: flex;
    overflow-x: scroll;
    list-style: none;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 5px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide li {
    margin: 5px 10px;
}

.register {
    top: 20%;
    left: 40%;
    position: absolute;
    transform: translate(-50%-50%);
}

.register .container {
    width: 400px;
    height: 600px;
    margin: 10px auto;
    border: 1px solid black;
    align-items: center;
    vertical-align: middle;
}

.personal-information {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.personal-information input,
label,
textarea {
    width: 300px;
    margin: 10px 30px;
}

.personal-information button {
    width: 200px;
    margin: 20px auto;
    cursor: pointer;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.gallery li {
    width: 250px;
    margin: 10px auto;
    border: 1px solid purple;
}

.gallery img {
    width: 100%;
}